<div class="container">
  <mat-form-field appearance="fill">
      <mat-label>Disciplinas</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.codigo">
          {{disciplina.nome}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <div class="row">
    <button mat-raised-button color="primary" [disabled]="disabled()" (click)="cadastrar()">Cadastrar</button>
    <button mat-raised-button color="accent" [disabled]="disabled()" (click)="relatorio()">Relatorio</button>
    <a mat-raised-button color="basic" [disabled]="disabled()" target="_blank" href="{{'http://localhost:8080/rest/falta/relatorio/pdf/'+selected}}">PDF</a>
  </div>
</div>